bin
obj
.vs
.sln
*.sln
.docx
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/Fishland/Fishland.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/Fishland/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T01USDToBGN/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T01USDToBGN/T01USDToBGN.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T02RadiansToDegrees/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T02RadiansToDegrees/T02RadiansToDegrees.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T03DepositCalculator/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T03DepositCalculator/T03DepositCalculator.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T04VacationBooksList/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T04VacationBooksList/T04VacationBooksList.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T05SuppliesForSchool/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T05SuppliesForSchool/T05SuppliesForSchool.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T06Repainting/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T06Repainting/T06Repainting.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T07FoodDelivery/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T07FoodDelivery/T07FoodDelivery.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T08BasketballEquipment/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T08BasketballEquipment/T08BasketballEquipment.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T09FishTank/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/T09FishTank/T09FishTank.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/Training Lab/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Exercise/Training Lab/Training Lab.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/README.md
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T01.HelloSoftUni/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T01.HelloSoftUni/T01.HelloSoftUni.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T01.HelloSoftUni/T01Hello SoftUni.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T02.Nums1to10/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T02.Nums1to10/T02.Nums1to10.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T02.Nums1to10/T02Nums 1to10.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T03RectangleArea/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T03RectangleArea/T03RectangleArea.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T04.InchestoCentimeters/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T04.InchestoCentimeters/T04.InchestoCentimeters.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T05GreetingByName/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T05GreetingByName/T05GreetingByName.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T06ConcatenateData/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T06ConcatenateData/T06ConcatenateData.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T07ProjectsCreation/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T07ProjectsCreation/T07ProjectsCreation.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T08.PetShop/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T08.PetShop/T08.PetShop.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T09.YardGreening/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/T09.YardGreening/T09.YardGreening.csproj
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/Т03.RectangleArea/Program.cs
Programming-Basics-C\#/01.First-Steps-In-Coding/Lab/Т03.RectangleArea/Т03.RectangleArea.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T01.SumSeconds/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T01.SumSeconds/T01.SumSeconds.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T02.BonusScore/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T02.BonusScore/T02.BonusScore.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T03.TimePlus15 Minutes/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T03.TimePlus15 Minutes/T03.TimePlus15 Minutes.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T04.ToyShop/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T04.ToyShop/T04.ToyShop.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T05.GodzillaVs.Kong/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T05.GodzillaVs.Kong/T05.GodzillaVs.Kong.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T06.WorldSwimmingRecord/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T06.WorldSwimmingRecord/T06.WorldSwimmingRecord.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T07.Shopping/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T07.Shopping/T07.Shopping.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T08.LunchBreak/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T08.LunchBreak/T08.LunchBreak.csproj
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T09.PipesInPoolMoreTasks/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Exersise/T09.PipesInPoolMoreTasks/TP01.PipesInPoolMoreTasks.csproj
Programming-Basics-C\#/02.Conditional-Statements/Lab/T01Excellent/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Lab/T01Excellent/T01Excellent.csproj
Programming-Basics-C\#/02.Conditional-Statements/Lab/T02.GreaterNumber/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Lab/T02.GreaterNumber/T02.GreaterNumber.csproj
Programming-Basics-C\#/02.Conditional-Statements/Lab/T03.EvenOrOdd/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Lab/T03.EvenOrOdd/T03.EvenOrOdd.csproj
Programming-Basics-C\#/02.Conditional-Statements/Lab/T04.PasswordGuess/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Lab/T04.PasswordGuess/T04.PasswordGuess.csproj
Programming-Basics-C\#/02.Conditional-Statements/Lab/T05.Number100-200/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Lab/T05.Number100-200/T05.Number100-200.csproj
Programming-Basics-C\#/02.Conditional-Statements/Lab/T06.SpeedInfo/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Lab/T06.SpeedInfo/T06.SpeedInfo.csproj
Programming-Basics-C\#/02.Conditional-Statements/Lab/T07.AreaOfFigures/Program.cs
Programming-Basics-C\#/02.Conditional-Statements/Lab/T07.AreaOfFigures/T07.AreaOfFigures.csproj
/Programming Basics C#/06.Neted-loop/Exercise/*.docx
*.docx
